    <footer class="container-fluid">
      <section class="mt-3">
        <div class="row text-center pt-3">
          <div class="col-md-2">
            <span>
              <a href="#!" class="text-aa">آبنما استخری</a>
            </span>
          </div>
          <div class="col-md-2">
            <span>
              <a href="#!">تجهیزات استخری</a>
            </span>
          </div>
          <div class="col-md-2">
            <span>
              <a href="#!">پیگیری رفارشات</a>
            </span>
          </div>
          <div class="col-md-2">
            <span>
              <a href="#!">درخواست مشاوره</a>
            </span>
          </div>
          <div class="col-md-2">
            <span>
              <a href="#!">آدرس و تماس با ما</a>
            </span>
          </div>
        </div>
      </section>
      <hr />
      <section>
        <div class="col-lg-8">
          <img src="/image/logo.png" alt="لوگو آبنما آکوا" width="150px" />
          <h3>درباره فروشگاه اینترنتی آبما و تجهیزات استخری آکوا</h3>
          <p>
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
            استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در
            ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز،
            و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای
            زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و
            متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان
            رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد
            کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه
            راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل
            حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود
            طراحی اساسا مورد استفاده قرار گیرد.
          </p>
        </div>
      </section>
      <hr />
      <div class="copyr">
        <span>
          تمامی حقوق وبسایت مطعلق به
          <a href="https://mdbootstrap.com/" class="bluer-c"
            >فروشگاه اینترنتی تجهیزات استخری آکوا ©</a
          >
          محفوظ است</span
        >
      </div>
    </footer>