{% load static %}
<div class="container-fluid ">
          <div class="fixed-div"> 

      <!-- -----sec yek----- -->
      <div class="baner-nav row">
        <span class="textbanernav"
          >با تـخـفـیـف بـخـــــر تـا سـود کنـــی ، 30% تـخـفـیـف ویــــــژه
          تـابـسـتـــانـه</span
        >
      </div>
      <!-- -----sec yek----- -->

      <!-- -----sec do----- -->
      <div class="row menuheader navscr">
        <div class="col-sm-10 col-lg-10 col-10">
          <div class="nav locmenu1">
            <input type="checkbox" id="nav-check" />
            <div class="nav-btn">
              <label for="nav-check">
                <span></span>
                <span></span>
                <span></span>
              </label>
            </div>

            <nav class="nav-links locmenu2">
              <a href="#" target="_blank" class="bi bi-cart-fill bluer-c"
                >مشاهده فاکتور</a
              >
              <a href="#" class="catmenu"
                >دسته بندی ها
                <ul class="subcatmenu">
                  <li>آبنما استخری</li>
                  <li>تجهیزات استخری</li>
                  <li>تجهیزات موتورخانه</li>
                  <li>چراغ استخری</li>
                  <li>چراغ فوراه</li>
                  <li>فواره استخری</li>
                  <li>گریل استخری</li>
                  <li>محصولات دکوراتیو استخری</li>
                </ul>
              </a>
              <a href="#" target="_blank" class="brandmenu"
                >برند ها
                <div class="subbrandmenu">
                  <div class="row">
                    <div class="col-4">
                      <div class="brands">
                        <img src="{% static 'django-cms-logo.png' %}" alt="" />
                        <span>برند آبنما آکوا</span>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="brands">
                        <img src="{% static 'django-cms-logo.png' %}" alt="" />
                        <span>برند آبنما آکوا</span>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="brands">
                        <img src="{% static 'django-cms-logo.png' %}" alt="" />
                        <span>برند آبنما آکوا</span>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="brands">
                        <img src="{% static 'django-cms-logo.png' %}" alt="" />
                        <span>برند آبنما آکوا</span>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="brands">
                        <img src="{% static 'django-cms-logo.png' %}" alt="" />
                        <span>برند آبنما آکوا</span>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="brands">
                        <img src="{% static 'django-cms-logo.png' %}" alt="" />
                        <span>برند آبنما آکوا</span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
              <a href="#">فروشگاه</a>
              <a href="#">مقالات</a>
              <a href="#" target="_blank">تخفیف های امروز</a>
              <button class="login-nav">
                <div class="notlogin">
                  <span>جهت استفاده از امکانات</span><br />
                  <span>وارد حساب کاربری شوید و یا ثبت نام کنید</span>
                </div>
                ورود / ثبت نام
              </button>
              <div class="notlogin">
                <span>جهت استفاده از امکانات</span><br />
                <span>وارد حساب کاربری شوید و یا ثبت نام کنید</span>
              </div>
            </nav>
          </div>
        </div>
        <div class="col-sm-2 col-lg-2 col-2">
          <img src="{% static 'django-cms-logo.png' %}" alt="" class="logosite" />
        </div>
      </div>
      <!-- -----sec do----- -->
    </div></div>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
