{% extends 'base.html' %}
{% load static %}
{% block CSS %}
{% endblock %}
{% block polls_content %}
{% block content %}
<div class="container-fluid">
  <div id="print_this" class="factor">
    <div class="mosh">
      <div class="row">
        <div class="col-4">
          <div><b> نام و نام خانوادگی: </b> <span>علی غنی زاده</span></div>
          <div>
            <b> شماره تماس:</b>

            <span>09123320287</span>
          </div>
          <div><b>ادرس:</b> <span>تهران شهریار</span></div>
        </div>
        <div class="col-4">
          <img src="/image/logo.png" alt="" width="100px" />
        </div>
        <div class="col-4">
          <div><b>فروشگاه:</b><span>آبنما آکوا</span></div>
          <div><b>شماره تماس:</b><span>09123320287</span></div>
          <div><b>ادرس:</b><span> تهران شهریار </span></div>
        </div>
      </div>
    </div>
    <table class="table table-striped">
      <tr class="table-dark">
        <th>ردیف</th>
        <th>شرح کالا</th>
        <th>تعداد</th>
        <th>قیمت واحد</th>
        <th>قیمت کل</th>
        <th>حذف کردن</th>
      </tr>
      <tr id="d1">
        <td>1</td>
        <td>نازل پرده اب 80 سانتی</td>
        <td>80 / ساتیمتر</td>
        <td>1.000.000</td>
        <td>80.000.000</td>
        <td><i class="bi bi-trash" onclick="Del()"></i></td>
      </tr>
      <tr id="d1">
        <td>2</td>
        <td>کرتین استخری استیل تیپ دو</td>
        <td>2 / عدد</td>
        <td>1.000.000</td>
        <td>2.000.000</td>
        <td><i class="bi bi-trash" onclick="Del()"></i></td>
      </tr>
      <tr id="d1">
        <td>3</td>
        <td>ابنما بارانی دو ردیف</td>
        <td>500 / سانتیمتر</td>
        <td>100.000</td>
        <td>50.000.000</td>
        <td><i class="bi bi-trash" onclick="Del()"></i></td>
      </tr>
      <tr id="d1">
        <td>4</td>
        <td>گریل استخری طرح موج 14 سانتی</td>
        <td>10 / عدد</td>
        <td>1.000.000</td>
        <td>10.000.000</td>
        <td><i class="bi bi-trash" onclick="Del()"></i></td>
      </tr>
      <tr id="d1">
        <td>5</td>
        <td>روکش استخری حبابدار</td>
        <td>25 / مترمربع</td>
        <td>1.000.000</td>
        <td>25.000.000</td>
        <td><i class="bi bi-trash" onclick="Del()"></i></td>
      </tr>
    </table>
    <div class="mosh">
      <span class="footer-factor">
        جهت خرید میتوانید با شماره
        <a href="tel:09123320287">09123320287</a>در تماس باشید و یا به صورت
        حضوری به آدرس :
        <b
          >تهران ، شهریار ، میدان فرمانداری ، میدان حافظ ، کوچه آفتابگردان ،
          کوچه طرشت ، پلاک 20 </b
        >مراجعه فرمایید.
      </span>
    </div>
  </div>
  <div class="text-center" style="margin-top: 20px">
    <button class="btn btn-info" onclick="printdiv()" target="_blank">
      پرینت
    </button>
  </div>
</div>
<script>
  function Del() {
    var MyTag;
    MyTag = document.getElementById("d1");
    MyTag.remove();
  }
  function printdiv() {
    var printContents = document.getElementById("print_this").innerHTML;
    var originalContents = document.body.innerHTML;
    document.body.innerHTML = printContents;
    window.print();
    document.body.innerHTML = originalContents;
  }
</script>
{% endblock %}
{% endblock %}