{% extends 'base.html' %}
{% load static %}
{% block CSS %}
{% endblock %}
{% block polls_content %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <main class="col-lg-9 col-md-8 col-sm-12 mb-3">
      <div class="row">
        <div class="col-sm-6 col-12">
          <div class="card">
            <img src="{% static 'django-cms-logo.png' %}" class="card-img-top" alt="..." />
            <div class="card-body">
              <span class="catcardpost">دسته بندی</span>
              <h3 class="card-title h4">راهنمای خرید کرتین اسخری</h3>
              <p class="card-text">
                عوامل تاثیرگزار در خرید کرتین استخری به 5 دسته تقسیم می شوند
                که در این مقاله قرار است آنها را ذکر کنیم و درباره هر یک
                توضیح دهیم.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-12">
          <div class="card">
            <img src="{% static 'django-cms-logo.png' %}" class="card-img-top" alt="..." />
            <div class="card-body">
              <span class="catcardpost">دسته بندی</span>
              <h3 class="card-title h4">راهنمای خرید کرتین اسخری</h3>
              <p class="card-text">
                عوامل تاثیرگزار در خرید کرتین استخری به 5 دسته تقسیم می شوند
                که در این مقاله قرار است آنها را ذکر کنیم و درباره هر یک
                توضیح دهیم.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-12">
          <div class="card">
            <img src="{% static 'django-cms-logo.png' %}" class="card-img-top" alt="..." />
            <div class="card-body">
              <span class="catcardpost">دسته بندی</span>
              <h3 class="card-title h4">راهنمای خرید کرتین اسخری</h3>
              <p class="card-text">
                عوامل تاثیرگزار در خرید کرتین استخری به 5 دسته تقسیم می شوند
                که در این مقاله قرار است آنها را ذکر کنیم و درباره هر یک
                توضیح دهیم.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-12">
          <div class="card">
            <img src="{% static 'django-cms-logo.png' %}" class="card-img-top" alt="..." />
            <div class="card-body">
              <span class="catcardpost">دسته بندی</span>
              <h3 class="card-title h4">راهنمای خرید کرتین اسخری</h3>
              <p class="card-text">
                عوامل تاثیرگزار در خرید کرتین استخری به 5 دسته تقسیم می شوند
                که در این مقاله قرار است آنها را ذکر کنیم و درباره هر یک
                توضیح دهیم.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-12">
          <div class="card">
            <img src="{% static 'django-cms-logo.png' %}" class="card-img-top" alt="..." />
            <div class="card-body">
              <span class="catcardpost">دسته بندی</span>
              <h3 class="card-title h4">راهنمای خرید کرتین اسخری</h3>
              <p class="card-text">
                عوامل تاثیرگزار در خرید کرتین استخری به 5 دسته تقسیم می شوند
                که در این مقاله قرار است آنها را ذکر کنیم و درباره هر یک
                توضیح دهیم.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-12">
          <div class="card">
            <img src="{% static 'django-cms-logo.png' %}" class="card-img-top" alt="..." />
            <div class="card-body">
              <span class="catcardpost">دسته بندی</span>
              <h3 class="card-title h4">راهنمای خرید کرتین اسخری</h3>
              <p class="card-text">
                عوامل تاثیرگزار در خرید کرتین استخری به 5 دسته تقسیم می شوند
                که در این مقاله قرار است آنها را ذکر کنیم و درباره هر یک
                توضیح دهیم.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-3 listpage">
        <div aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">4</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">5</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </main>
    <aside class="col-lg-3 col-md-4 col-sm-12">
      <div class="position-sticky">
        <div class="p-4">
          <h4 class="h4 bchs">دستــــــه بـنــدی ها</h4>
          <div class="catprod">
            <li><a href=""> تجهیزات استخری آکوا </a></li>
            <li><a href=""> چراغ استخری استی</a></li>
            <li><a href=""> آبنما استیل استخری آکوا</a></li>
            <li><a href=""> گریل استخری استیل</a></li>
            <li><a href=""> چراغ استخری توکار</a></li>
            <li><a href=""> چراغ استخری روکار</a></li>
            <li><a href=""> انواع پمپ استخری</a></li>
            <li><a href=""> تجهیزات استخری آکوا </a></li>
            <li><a href=""> تجهیزات استخری آکوا </a></li>
          </div>
        </div>
        <hr />
        <div class="p-4">
          <h4 class="h4 bchs">پـــیـــشـــنــــــــهاد آکـــوا</h4>
          <img src="{% static 'django-cms-logo.png' %}" alt="" />
        </div>
      </div>
    </aside>
  </div>
</div>
{% endblock %}
{% endblock %}