{% extends 'base.html' %}
{% load static %}
{% block CSS %}
{% endblock %}
{% block polls_content %}
{% block content %}
{% include 'utils/header/header.html' %}
<div class="container-fluid">
  <div class="row">
    <main class="col-lg-8 col-md-12 mb-3">
      <article>
        <header>
          <img src="{% static 'django-cms-logo.png' %}" alt="" width="100%" />
          <h1>عنوان اصلی مقاله این است دوست من</h1>
          <span>دسته بندی اصلی</span>
          <span>نویسنده</span>
          <span>تاریخ انتشار</span>
        </header>
        <hr />
        <!-- شروع محتوای وبلاگ-->
        <div class="blog-content">
          <h2>نکات خرید کرتین استخری</h2>
          <p>
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
            استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله
            در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد
            نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد،
            کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان
            جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را
            برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در
            زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و
            دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و
            زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات
            پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
          </p>
          <img src="{% static 'django-cms-logo.png' %}" alt="" />
          <h3>نکات خرید کرتین استخری</h3>
          <p>
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
            استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله
            در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد
            نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد،
            کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان
            جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را
            برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در
            زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و
            دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و
            زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات
            پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
          </p>
          <img src="{% static 'django-cms-logo.png' %}" alt="" />
        </div>

        <!-- پایان محتوای وبلاگ-->
      </article>
    </main>
    <aside class="col-lg-4 col-md-12">
      <div class="position-sticky">
        <div class="p-4">
          <h4 class="h4 bchs">دسته بندی محصولات</h4>
          <div class="ads-cat">
            <img src="{% static 'django-cms-logo.png' %}" alt="" />
            <img src="{% static 'django-cms-logo.png' %}" alt="" />
            <img src="{% static 'django-cms-logo.png' %}" alt="" />
            <img src="{% static 'django-cms-logo.png' %}" alt="" />
            <img src="{% static 'django-cms-logo.png' %}" alt="" />
          </div>
        </div>
      </div>
    </aside>
  </div>
</div>
{% endblock %}
{% endblock %}